<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="mainBar">
            <div class="titleBar">
                <a href="/home"> <!-- Agregar el enlace aquí -->
                    <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre" class="logo">
                </a>
                <form class="search-bar">
                    <input type="text" class="input_search" placeholder="Buscar productos, marcas">
                    <button type="submit" class="btn-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <div>
                <p class="center-text"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                    crédito</p>
            </div>
        </div>
        <div class="navBar">
            <ul class="site">
                <li><a href="#">Oferta</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="login">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </div>
        <div class="burger-menu">
            <button class="btn-burger-menu">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </header>
    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="banner" class="banner-image">
    </div>
    <main>
        <strong class="title ">Basado en tu última visita</strong>
        <section class="post-banner">
            <article class="article">
                <div class="image">
                    <div class="shadow_cotent">
                        <p>Cafetera Moulinex</p>
                    </div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
                </div>
                <div class="box">
                    <i class="fa-solid fa-truck i-shipment"></i>
                    <div class="price-box">
                        <span class="price">$6.770</span>
                        <span class="discount">40% OFF</span>
                    </div>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="article">
                <div class="image">
                    <div class="shadow_cotent">
                        <p>MacBook Pro 2019</p>
                    </div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook">
                </div>
                <div class="box">
                    <i class="fa-solid fa-truck i-shipment"></i>
                    <div class="price-box">
                        <span class="price">$230.000</span>
                        <span class="discount">20% OFF</span>
                    </div>
                    <p class="description">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="article">
                <div class="image">
                    <div class="shadow_cotent">
                        <p>Samsung Galaxy S10</p>
                    </div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de macbook">
                </div>
                <div class="box">
                    <i class="fa-solid fa-truck i-shipment"></i>
                    <div class="price-box">
                        <span class="price">$70.500</span>
                        <span class="discount">10% OFF</span>
                    </div>
                    <p class="description">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="article">
                <div class="image">
                    <div class="shadow_cotent">
                        <p>SmartTv Samsung 43"</p>
                    </div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de macbook">
                </div>
                <div class="box">
                    <i class="fa-solid fa-truck i-shipment"></i>
                    <div class="price-box">
                        <span class="price">$23.200</span>
                        <span class="discount">5% OFF</span>
                    </div>
                    <p class="description">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <strong class="title">Ofertas</strong>
        <section>
            <article class="article">
                <div class="image">
                    <div class="shadow_cotent">
                        <p>Cafetera Moulinex</p>
                    </div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
                </div>
                <div class="box">
                    <i class="fa-solid fa-truck i-shipment"></i>
                    <div class="price-box">
                        <span class="price">$6.770</span>
                        <span class="discount">40% OFF</span>
                    </div>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="article">
                <div class="image">
                    <div class="shadow_cotent">
                        <p>MacBook Pro 2019</p>
                    </div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook">
                </div>
                <div class="box">
                    <i class="fa-solid fa-truck i-shipment"></i>
                    <div class="price-box">
                        <span class="price">$230.000</span>
                        <span class="discount">20% OFF</span>
                    </div>
                    <p class="description">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="article">
                <div class="image">
                    <div class="shadow_cotent">
                        <p>Samsung Galaxy S10</p>
                    </div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de macbook">
                </div>
                <div class="box">
                    <i class="fa-solid fa-truck i-shipment"></i>
                    <div class="price-box">
                        <span class="price">$70.500</span>
                        <span class="discount">10% OFF</span>
                    </div>
                    <p class="description">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="article">
                <div class="image">
                    <div class="shadow_cotent">
                        <p>SmartTv Samsung 43"</p>
                    </div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de macbook">
                </div>
                <div class="box">
                    <i class="fa-solid fa-truck i-shipment"></i>
                    <div class="price-box">
                        <span class="price">$23.200</span>
                        <span class="discount">5% OFF</span>
                    </div>
                    <p class="description">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="sections">
            <section>
                <i class="fa-solid fa-credit-card icon"></i>
                <strong class="content">Pagá con tarjeta o en efectivo</strong>
                <p class="text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift icon"></i>
                <strong class="content">Envío gratis desde $ 2.500</strong>
                <p class="text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield icon"></i>
                <strong class="content">Seguridad, de principio a fin</strong>
                <p class="text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <div class="copyright">
            <span class="text">Copyright © 1999-2023 MercadoLiebre S.R.L.</span>
        </div>
    </footer>
</body>

</html>